.logo img{
    width: 30%;
}
h1 {
    color: crimson;
    font-family: sans-serif;
}
.my-car-footer {
    border: 0;
}
.btn img {
    width: 30px;
}
.uno img {
    width: 60%;
}
.duo img{
    width: 100%;
    
}

