header {
    background-color: rgb(220, 248, 248);
}
.logo img{
    width: 40%;
}
.navbar {
    
}
h1 {
    color: crimson;
    font-family: fantasy;
}
h3{
    color: green;
}
.btn img {
    width: 30px;
}
.uno img {
    width: 60%;
}
.duo img{
    width: 100%;
    
}

